<style>
  .education-thumbnail {
    display: inline-block;
    margin: 0 auto;
  }
</style>

<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign education = data[1] | sort: 'startDate' | reverse %}
  {% for content in education %}
    <li class="list-group-item">
      <div class="row">
        <!-- Date & Thumbnail Column -->
        <div class="col-xs-2 col-sm-2 col-md-2 text-center date-column">
          <table class="table-cv">
            <tbody>
              {% if content.startDate and content.startDate != '' %}
                {% assign startDate = content.startDate | split: '-' | slice: 0, 2 | join: '.' %}
                {% assign endDate = content.endDate | split: '-' | slice: 0, 2 | join: '.' | default: 'Present' %}
                {% assign date = startDate | append: ' - ' | append: endDate %}
                <tr>
                  <td>
                    <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px"> {{ date }} </span>
                  </td>
                </tr>
              {% endif %}

              {% if content.location %}
                <tr>
                  <td>
                    <p class="location mt-2">
                      <i class="fa-solid fa-location-dot iconlocation"></i>
                      {{ content.location }}
                    </p>
                  </td>
                </tr>
              {% endif %}

              {% if content.thumbnail %}
                <tr>
                  <td>
                    <div class="text-center">
                      <img src="{{ content.thumbnail }}" alt="{{ content.institution }}" 
                        class="education-thumbnail mt-2"
                        style="max-width: 75px; height: auto; border-radius: 8px;">
                    </div>
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>

        <!-- Main Content Column -->
        <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            <a href="{{ content.url }}">{{ content.studyType }}</a>
          </h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem"><strong>{{ content.institution }}</strong></h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem; font-style: italic">{{ content.area }}</h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">{{ content.summary }}</h6>
          <ul class="items">
            {% for item in content.courses %}
              <li>
                <span class="item">{{ item }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
